#homePage {
    display: grid;
    place-items: center;
}
.img-wrapper {
    width: 100%;
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.img-wrapper img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.info-wrapper {
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: var(--bg-backdrop);
    height: max-content;
    width: 100%;
    padding: 1em .5em;
    backdrop-filter: blur(10px);
}
.info-wrapper #icon {
    margin: 1em 0;
}
.info-wrapper > div [icon] {
    color: var(--primary);
    font-size: 4em;
}
.info-wrapper #tagline {
    display: inline-block;
    padding: 1em 0;
    color: var(--text-muted);
}
.info-wrapper #list-wrapper {
    width: max-content;
    margin: 0 auto;
    font-size: 1.1em;
    color: var(--text-muted);
}
#list-wrapper ul {
    line-height: 1.5;
    padding: .3em 0;
    margin: 2em auto .2em auto;
    list-style-type: none;
}
.info-wrapper #hours-wrapper {
    padding: .3em 0;
    margin: 2em 0;
}
#hours-wrapper span {
    display: block;
    color: var(--text-muted);
    font-weight: 600;
    font-size: 1.05em;
}
.info-wrapper #menuBtn {
    display: block;
    margin: 2.5em auto .7em auto;
    padding: 1em 1.5em;
    
    border: none;
    border-radius: .3em;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--primary);
    box-shadow: 0 20px 16px var(--box-shadow);
    
    transform: scale(.95);
    cursor: pointer;
    transition: 200ms transform ease;
}
.info-wrapper #menuBtn:hover {
    transform: scale(1);
}