#menuPage {
    height: 100%;
    width: 100%;
    padding: .7em .4em;
}
#menuPage h2 {
    text-align: center;
    font-size: 2em;
    margin: .4em 0;
}
#item-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: .3em;
    align-items: center;
    justify-items: center;
}
.menu-item > span {
    display: inline-block;
}
.menu-item {
    position: relative;
    border: 1px solid var(--border);
    background-color: var(--bg-light);
    height: 380px;
    width: 300px;

    padding: .8em 1.8em;
    border-radius: .4em;
    transform: scale(.95);

    box-shadow: 0 8px 16px var(--box-shadow);
    transition: 300ms ease transform;
    cursor: pointer;
}
.menu-item:hover {
    transform: scale(1);
}
.item-name-wrapper {
    text-align: center;
    color: var(--primary);
    margin-top: 3.2em;
}
.item-name-wrapper .item-icon {
    font-size: 3em;
}
.menu-item .item-type {
    width: max-content;
    font-weight: 600;
    font-size: 1.1em;
    position: absolute;
    bottom: .8em;
    left: 50%;
    transform: translate(-50%);
}
.menu-item .item-price {
    color: var(--text-muted);
    font-weight: 100;
}
.menu-item .item-desc {
    list-style-type: none;
    color: var(--text-muted);

    margin: 2em auto 1em auto;
    line-height: 1.8;
    text-align: center;
}
.main-course::before {
    content: '🍽️';
}
.chef-special::before {
    content: '⭐';
}
.casual-menu::before {
    content: '🍴';
}
.alternative-dish::before {
    content: '🥗';
}
.dessert::before {
    content: '🍰';
}
.appetizer::before {
    content: '🥟';
}
.drink::before {
    content: '🥤';
}